#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#planet-pic {
  height: 150px;
  width: 150px;
}
#character-pic {
  height: 150px;
  width: 75px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
